body {
	background-color: rgb(105, 105, 241);
}

#dodatni_kontejner {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

h2 {
	text-align: center;
	margin-top:0;
	margin-bottom:0;
	font-size: 30pt;
}

#tajmer {
	text-align: right;
	font-size: 50px;
}

#glavni_kontejner {
	width: 1000px;
	padding: 5px;
	margin: auto;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px;
}

.dugme_kontejner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ime_prezime_kontejner {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}

.ponudjen_odgovor {
	width: 40%;
	margin-right: 20px;
}

.dugme {
	height: 50px;
	margin-bottom: 5px;
	background-color: rgb(0,191,255);
	border: 3px solid rgb(0, 128, 255);
	border-radius: 10px;
	color: white;
	font-size: 20px;
}

.dugme:hover {
	border-color: black;
}

.dugme:focus {
	outline: none;
}