body {
    margin: 0px;
    padding: 0px;
}

#osnovni_kontejner {
    margin: auto;
    margin-top: 100px;
    width: 70%;
    background-color: rgb(0, 25, 51);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.dugme1 {
    height: 50px;
    width: 300px;
    font-size: 20pt;
    color: white;
    background-color: rgb(128, 128, 128);
    border: none;
    margin-bottom: 20px;
}

#dugme1_kontejner {
    margin-bottom: 20px;
}

.textbox {
    width: 605px;
    font-size: 18pt;
}

.dugme2 {
    height: 50px;
    width: 605px;
    font-size: 20pt;
    color: white;
    margin-top: 20px;
    background-color: rgb(0, 153, 76);
    font-weight: bold;
}

.dugme3 {
    height: 50px;
    width: 148px;
    font-size: 20pt;
    color: white;
    background-color: rgb(128, 128, 128);
    border: none;
    margin-bottom: 5px;
}

#greska {
    font-size: 18pt;
    color: white;
    text-align: center;
}