body {
	background-color: gray;
}	

#onama {
	font-family: georgia;
	font-size: 13pt;
	position: relative;
	margin: auto;
	width: 90%;
	background-color: #FFFFFF;
	border: 2px solid #CCCCCC;
	border-radius: 12pt;
	padding: 1em;
	margin-bottom: 0.5em;
}