body {
	background-image: url('slike/bck2.png');
}	

h1 {
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	margin-top: 1em;
	font-size: 50pt;
	text-align: center;
}

#tekst {
	font-family: georgia;
	font-size: 18pt;
	position: relative;
	margin: auto;
	width: 80%;
	background-color: #FFFFFF;
	border: 2px solid #CCCCCC;
	border-radius: 12pt;
	padding: 1em;
	margin-bottom: 0.5em;
}

.dugme {
	position: relative;
	width: 18vw;
	height: 18vw;
    background-size: cover;
    background-position: center;
    margin: 20px 35px;
    border: none;
}

.opcije {
	display: flex;
}

.label1 {
	margin-right: 15px;
}