*{
    font-size: 12pt;
    font-family: arial;
}

body {
  background-image: url('images/background.png');
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
  font-size: 24pt;
  font-family: georgia;
  text-shadow: 3px 3px #999999;
}

#sadrzaj {
  width: 55%;
  margin: auto;
  background-color: #EEEEEE;
  box-shadow: 5px 5px 5px #999999;
  display: flex;
}

#w3c {
  float: right;
}

footer {
  background-color: #A2B964;
  margin: auto;
  width: 55%;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#leva-kolona {
  display: flex;
  flex-direction: column;
  width: 75%
}

#slika-header {
  background-image: url('images/rbg.png'); 
  display: flex;
  margin-bottom: 1rem;
}


.quotebubble {
  font-family: georgia;
  font-size: 13pt;
  position: relative;
  width:90%;
  margin: auto;
  background-color: #FFFFFF;
  border: 2px solid #CCCCCC;
  border-radius: 12pt;
  padding: 0.5em;
  margin-bottom: 1em;
}

.kriticar {
  font-size: 13pt;
  width: 90%;
  margin: auto;
  position: relative;
  margin-bottom: 2em;
}

.publication {
  font-style: italic;
}

img {
  vertical-align: top;
}

dd, dt, dl{
  width: 300px;
  font-size: 12pt;
  font-family: arial;
  margin-left: 15px;
}

dd {
  margin-bottom: 20px;
  margin-left: 30px;
}

dt {
  font-weight: bold;
}

ul {
  margin-left: 20px;
  margin-top: 0px;
  padding: 0px;
}