*{
    font-size: 12pt;
    font-family: arial;
}

body {
  background-image: url('images/background.png');
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
  font-size: 24pt;
  font-family: georgia;
  text-shadow: 3px 3px #999999;
}

#box {
  position: relative;
  margin: auto;
  width: 55%;
  box-shadow: 5px 5px 5px #999999;
}

#sadrzaj {
  display: flex;
}

#leva-kolona {
  background-color: #EEEEEE;
  position: relative;
  width: 70%
}

#slika-header {
  background-image: url('images/rbg.png'); 
  display: flex;
  margin-bottom: 1rem;
}

.a92 {
  color: red;
  font-size: 48pt;
  font-weight: bold;
  display: inline-block;
}

.quotebubble {
  font-family: georgia;
  font-size: 13pt;
  position: relative;
  margin: auto;
  width:90%;
  background-color: #FFFFFF;
  border: 2px solid #CCCCCC;
  border-radius: 12pt;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.kriticar {
  font-size: 13pt;
  width: 90%;
  margin: auto;
  position: relative;
  margin-bottom: 2em;
}

.publication {
  font-style: italic;
}

img {
  margin-right: 5px;
  float: left;      
}

#desna-kolona {
  background-color:#A2B964;
  position: relative;
  width: 30%;
}

dl, dd, dt {
  padding-left: 10px;
  padding-right: 5px;
  font-size: 12pt;
  font-family: arial;
}

dt {
  font-weight: bold;
}

dd, dl {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#w3c {
  float: right;
}

footer {
  background-color: #A2B964;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}