body {
  background-image: url('images/background.png');
  font-family: arial;
  font-size: 12pt;
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
  font-size: 24pt;
  font-family: georgia;
  text-shadow: 3px 3px #999999;
}

#sadrzaj {
  width: 55%;
  margin: auto;
  background-color: #EEEEEE;
  display: flex;
}

#w3c {
  float: right;
}

footer {
  background-color: #A2B964;
  margin: auto;
  width: 55%;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#slika-header {
  background-image: url('images/rbg.png'); 
  display: flex;
  margin-bottom: 1rem;
}

#92 {
  font-size: 48pt;
  color: red;
  font-weight: bold;
}